.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.Header {
  font-size: 32px;
  color: black;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: flex-start;
  height: 700px;
  background-color: rgba(28, 114, 242, 0.816);
  border-radius: 10px;
  border: 2px solid rgb(15, 50, 246);
  
}

.bluebutton {
  width: 100px;
  height: 31px;
  border-radius: 11px;
  background-color:transparent;
  color: aliceblue;
  margin-left: 10px;
  border: 2px solid #00eaffc5;
}

.bluebutton:hover{
  background-color: #00eaffc5;
}


.bluebuttonspacer {
display: flex;
flex-direction: row;
padding-left: 20px;
}

.form{
  display: flex;
  flex-direction: row;
}

.space {
  padding-left: 85px;
  margin-top: 20px;
}
.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}


.Heading:hover{
  opacity: 90%;
}


.tasklist {
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.114);
  padding-top: 20px;
}

.list {
  border-radius: 10px;
}

.task {
  border-radius: 10px;
  background-color: #8282826c;
  border: 2px solid #00eaffc5;
  color: aliceblue;
  width: 200px;
  height: 25px;
}

.complete{
text-decoration: line-through;
text-decoration-color: #00eaffc5;
text-decoration-style: solid;
}

.formcontainer {
  padding-top: 20px;
}

.buttonspacer{
  padding-top: 10px;
}

.white {
  color: white;
}