.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.Header {
  font-size: 32px;
  color: black;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: flex-start;
  height: 700px;
  background-color: rgba(28, 114, 242, 0.816);
  border-radius: 10px;
  border: 2px solid rgb(15, 50, 246);
  
}

.bluebutton {
  width: 100px;
  height: 30px;
  border-radius: 11px;
  background-color:transparent;
  color: aliceblue;
  margin-left: 10px;
  border: 2px solid rgb(15, 50, 246);
}

.bluebutton:hover{
  background-color: #00eaffc5;
}


.bluebuttonspacer {
display: flex;
flex-direction: row;
padding-left: 20px;
}

.form{
  display: flex;
  flex-direction: row;
}

.space {
  padding-left: 20px;
  margin-top: 20px;
}
.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}


.Heading:hover{
  opacity: 90%;
}


